


@media screen and (max-width: 1010px) {
    .pagination {
    display: flex;
    flex-direction: row;
    justify-content: center;
    
}
}



@media screen and (min-width: 1010px) {
    .pagination {
    display: flex;
    flex-direction: row;
    justify-content: center;
    margin-top: 34px;
    
}

}



