

@media screen and (max-width: 1009px) {

    
.cardlist {
    width: 100%;
    min-width: 420px;
    height: auto;
    box-sizing: border-box;
    display: flex;
    flex-direction: column;
    padding-top: 12px;
    margin-left: auto;
    margin-right: auto;
 

}
}

@media screen and (min-width: 1010px) {

    
.cardlist {
    width: 1010px;
    height: auto;
    box-sizing: border-box;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    padding-left: 34px;
}
}


