
.root, div, body, html {
    
   padding: 0;
   margin: 0;
}

.main::-webkit-scrollbar {
    width: 0;
  }
  ::-webkit-scrollbar {
    width: 0;
  }

@media screen and (max-width: 1009px) {
    
.movie-app { 

    width: 100%;
    min-width: 420px;

    height: auto;
    background-color: rgba(247, 247, 247, 1);
    overflow: hidden;


}

.main {

    width: 100%;
    min-width: 420px;
    height: auto;
    min-height: 100vh;
    background-color: white;
    margin: 0 auto;
    position: relative;
    

}


    
}


@media screen and ( min-width: 1010px) {
    
.movie-app { 

    width: 100%;
    height: auto;
    
    background-color: rgba(247, 247, 247, 1);
    overflow: hidden;

    
}

.main {

    width: 1010px;
    height: auto;
    min-height: 100vh;
    background-color: white;
    margin: 0 auto;


}



}





.alertWrapper {
    margin-left: auto;
    margin-right: auto;
    margin-top: 20px;
    width: 90%;
}



.main {
    border: 2px solid rgba(0, 0, 0, 0);
}

