
.root, div, body, html {
    
   padding: 0;
   margin: 0;
}

.main::-webkit-scrollbar {
    width: 0;
  }
  ::-webkit-scrollbar {
    width: 0;
  }

@media screen and (max-width: 1009px) {
    
.movie-app { 

    width: 100%;
    min-width: 420px;
    min-height: 100vh;
    background-color: rgba(247, 247, 247, 1);
    overflow: hidden;

    
}

.main {

    width: 100%;
    min-width: 420px;
    height: 100vh;
    background-color: white;
    
    margin: 0 auto;
 
    overflow: scroll;
    position: relative;
}


    
}


@media screen and ( min-width: 1010px) {
    
.movie-app { 

    width: 100%;
    min-height: 100vh;
    background-color: rgba(247, 247, 247, 1);
    overflow: hidden;

    
}

.main {

    width: 1010px;
    height: 100vh;
    background-color: white;
    
    margin: 0 auto;
 
    overflow: scroll;
}



}





.alertWrapper {
    margin-left: auto;
    margin-right: auto;
    margin-top: 20px;
    width: 90%;
}